 
 

 
#top-section {
    
    font-size: 18px;         
    background-color: #FFC75F;
    font-family: 'Love Ya Like A Sister', cursive;  
    color: whitesmoke;
    text-align: left;   

        
}

#mid-section{
    background-color: #FFC75F;       
    display: flex;
    font-size: 20px;
    text-align: center;  
    justify-content: center;
    align-items: center;    
}  
#input-section{     
       
    div {
        background-color: lightgray;
        inline-size: 70%;
        border-block-end-width: 10px;
        border-block-end-style: solid;
        border-block-end-color: purple;       
      }
}

